<!DOCTYPE html>
<html>
<head>
  <title>15-112: Fundamentals of Programming</title>
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/reset.css">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/112.css">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/112-highlight-style.css">
  <script src="{{ site.baseurl }}/js/jquery-2.1.4.min.js"></script>
  <script src="{{ site.baseurl }}/js/highlight.pack.js"></script>
  <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
  <script id="112-script" src="{{ site.baseurl }}/js/112.js"></script>
  <base target="_self">
</head>
<body>
