<!DOCTYPE html>
<html>
<head>
  <title>15-110: Principles of Computing</title>
  <!-- 1 -->
  <link rel="stylesheet" type="text/css" href="{{ "/css/reset.css" | relative_url }}">
  <link rel="stylesheet" type="text/css" href="{{ "/css/bootstrap.min.css" | relative_url }}">
  <link rel="stylesheet" type="text/css" href="{{ "/css/112.css" | relative_url }}">
  <link rel="stylesheet" type="text/css" href="{{ "/css/112-highlight-style.css" | relative_url }}">
  <script src="{{ "/js/jquery-2.1.4.min.js" | relative_url }}"></script>
  <script src="{{ "/js/highlight.pack.js" | relative_url }}"></script>
  <script src="{{ "/js/bootstrap.min.js" | relative_url }}"></script>
  <script id="112-script" src="{{ "/js/112.js" | relative_url }}"></script>
  <base target="_self">
</head>
<body>
